.backgraund {
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.animation-block {
    height: 100vh;
    transform: perspective(300px) rotateX(40deg);
}

.animation {
    width: 50%;
    text-align: justify;
       margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    animation: scroll 30s linear 0s infinite;

}

@keyframes scroll {
    0% {
        top: 60%;
    }

    100% {
        top: -150%;
    }
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: yellow;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin-top: 20px;

    font-size: 30px;
    line-height: 40px;
    color: yellow;
}